<sicatel-navbar *ngIf="user$ | async as user" [user]="user" (signOffEvent)="signOff()" ></sicatel-navbar>
<div class="container-fluid" >
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2  bg-dark  position-fixed ">
                <div class="d-flex flex-column text-white min-vh-100">
                    
                    <sicatel-sidebar  *ngIf="menu$ | async as menu"  [menu]="menu"></sicatel-sidebar>

                </div>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
</div>



