<nav class="navbar navbar-expand-lg sticky-top">
	<div class="container-fluid">
		<button mat-flat-button aria-label="Menu" matToolTip="Menu" (click)="toggleMenu = !toggleMenu" color="accent" class="btn btn-primary">
			<mat-icon class="align-baseline h-auto" fontSet="fas" fontIcon="fa-bars"></mat-icon>
		</button>
		<div class="ps-2">
			<a routerLink="dashboard" href="/home/caja/dashboard" class="ps-4">
				<img src="./assets/icons/logo_Telcel.png" alt="Logo" height="24" class="d-inline-block align-text-top">
			</a>
		</div>
		<div class="d-flex flex-row">
			<ul class="navbar-nav me-auto  mb-lg-0 row">
				<li class="nav-item dropdown col-4 ">
					<a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Shortcuts
					</a>
					<ul class="dropdown-menu dropdown-menu-end "></ul>
				</li>
				<li class="nav-item col-4">
					<a class="nav-link px-4" href="">
						<img class="user-image margin-right-sm" height="20" width="20" alt="User Image"
							src="./assets/icons/info.svg">
					</a>
				</li>
				<li class="nav-item dropdown col-4">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<img class="user-image margin-right-sm" height="28" width="28" alt="User Image"
							src="./assets/icons/user.png">
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item">
								{{ user.nombreUsuario }}
								{{ user.numeroEmpleado }}
								{{ user.idUsuario }}
							</a>
						</li>
						<li>
							<a class="dropdown-item">
								<span class="fw-bold">Región:</span> {{ user.region }} ({{ user.idRegion }})
							</a>
						</li>
						<li>
							<a class="dropdown-item">
								<span class="fw-bold">Posición:</span> {{ user.posicion }}
							</a>
						</li>
						<li>
							<a class="dropdown-item">
								<span class="fw-bold">Caja:</span> {{ user.numCaja }}
							</a>
						</li>
						<li>
							<a class="dropdown-item">
								<span class="fw-bold">Centro:</span> {{ user.centro }}
							</a>
						</li>
						<li>
							<a class="dropdown-item" *ngIf="user.tipo === eLoginType.CAC">
								<span class="fw-bold">Oficina:</span> {{ user.oficinaVentas }}
							</a>

							<a class="dropdown-item" *ngIf="user.tipo === eLoginType.DAT">
								<span class="fw-bold">Oficina:</span> (DAT)
							</a>
						</li>
						<li>
							<a class="dropdown-item">
								<span class="fw-bold">Fecha:</span> {{ date| date :'dd/MM/yyyy' }}
							</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item btn btn-link" (click)="onClickSignOff()">Cerrar Sesión</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>  
<sicatel-menu-component
	[toggleMenu]="toggleMenu"
	[menu]="menu"
	[loading]="loading"
></sicatel-menu-component>

<ng-template #mask>
	<sicatel-mask @fadeTrigger [fullScreen]="true"></sicatel-mask>
</ng-template>
