 @use '/node_modules/@angular/material' as mat; 

@import './colors.scss';
@import './fonts.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$telcel-app-primary: mat.define-palette($telcel-blue, 900);
$telcel-app-accent: mat.define-palette($telcel-accent, 700);

// The warn palette is optional (defaults to red).
$telcel-app-warn: mat.define-palette($telcel-red, 900);

// Create the theme object (a Sass map containing all of the palettes).

$telcel-app-theme: mat.define-light-theme((
  color: (
    primary: $telcel-app-primary,
    accent: $telcel-app-accent,
    warn: $telcel-app-warn
  ),
  typography: mat.define-typography-config(
    $font-family: 'Lato-Regular, sans-serif',
    $headline-1: mat.define-typography-level(72px, 28px, 300),
    $body-1: mat.define-typography-level(14px, 20px, 400)
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($telcel-app-theme);
