@use '@angular/material' as mat;

@import 'colors';
@import 'fonts';


@include mat.core();
$bluesky-primary: mat.define-palette($telcel-blue, 900);
$bluesky-accent: mat.define-palette($telcel-accent, 700);
// The warn palette is optional (defaults to red).
$bluesky-warn: mat.define-palette($telcel-red, 900);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bluesky-theme: mat.define-light-theme((
  color: (
    primary: $bluesky-primary,
    accent: $bluesky-accent,
    warn: $bluesky-warn,
  ),
  typography: mat.define-typography-config(
    $font-family: 'Lato-Regular, sans-serif',
    $headline-1: mat.define-typography-level(72px, 28px, 300),
    $body-1: mat.define-typography-level(14px, 20px, 400)
  )
));
@include mat.all-component-themes($bluesky-theme);