<div class="bg-white px-3 py-3">
    <h4 class="font-weight-bold">Login</h4>
    <form class="my-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="font-weight-bold w-100" color="accent" ngTrimSpaces autofocus>
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="userName" autocomplete="userName" ngTrimSpaces autofocus>
            <mat-icon fontSet="fas" fontIcon="fa-user" matSuffix color="primary"></mat-icon>
            <mat-error class="font-weight-bold" *ngIf="loginForm.controls.userName.invalid">Usuario inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="font-weight-bold w-100" color="accent">
            <mat-label>Contraseña</mat-label>
            <input sicatelCapsLock (capsLock)="showPasswordCaps = $event" matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"
                autocomplete="current-password" ngTrimSpaces>
                <mat-icon fontSet="fas" [fontIcon]="showPassword ? 'fa-eye-slash' :  'fa-eye'" matSuffix color="primary" (click)="showPassword = !showPassword"></mat-icon>
                <mat-icon *ngIf="showPasswordCaps" fontSet="fas" fontIcon="fa-arrow-alt-circle-up" color="primary" matPrefix matTooltip="Caps Lock"></mat-icon>
                <mat-error class="font-weight-bold" *ngIf="loginForm.controls.password.invalid">Contraseña inválida</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="font-weight-bold w-100" color="accent">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type" [errorStateMatcher]="matcher" (selectionChange)="changeType()">
                <mat-option *ngFor="let type of typesLogin" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
            <mat-error class="font-weight-bold" *ngIf="loginForm.controls.type.invalid">
                Seleccione un tipo valido
            </mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="selectedType === eLoginType.CAC" appearance="outline" class="font-weight-bold w-100" color="accent">
            <mat-label>Posición</mat-label>
            <input sicatelUppercase matInput type="text" formControlName="position" autocomplete="position" ngTrimSpaces>
            <mat-error class="font-weight-bold" *ngIf="loginForm.controls.position.invalid">Posición Inválida</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="selectedType === eLoginType.DAT" appearance="outline" class="font-weight-bold w-100" color="accent">
            <mat-label>Teléfono</mat-label>
            <input matInput sicatelNumber type="text" formControlName="phone" autocomplete="phone" ngTrimSpaces autofocus maxlength="12">
            <mat-error class="font-weight-bold" *ngIf="loginForm.controls.phone.invalid">Teléfono Invalido</mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-center my-3">
            <button type="submit" mat-flat-button class="w-50 btn btn-primary btn-telcel-confirm text-white" color="accent" >
                Entrar
            </button>
        </div> 
    </form>
</div>
<div class="carrucel mt-1">
    <sicatel-carousel-container></sicatel-carousel-container>
</div>