table {
  width: 100%;
}

.btnWarning {
  color: white;
  font-weight: bold;
}

mat-form-field {
  margin-right: 12px;
}

.mat-flat-button {
  color: blue !important;
  background-color: white !important;
}

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;

}

th,
td {
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #f5f7f6;
  color: black;
}

.butonVer {
  border: 2px solid transparent;
  color: #43f !important;
  background-color: transparent !important;
}

.btnWarning {
  color: white;
  font-weight: bold;
}



.mat-table::ng-deep {
  border: 1px solid red;
}

.mat-header-row {
  background-color: black;
}

.mat-table {
  border: 1px solid red;
}

.divContainer {
  //background-color: #98a7bc;
  padding: 1px;
  //border-top: 2px solid #98a7bc !important;
  //border-bottom: 2px solid #98a7bc !important;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 56px;
  border-bottom: 3px solid #02b0ef;
}

.header-Title-blue {
  color: #02b0ef !important;

}

.header-Title-black {
  font-weight: bold;
}

.divSeparator {

  background-color: #02b0ef;
  padding: 1px;
  border: 1px solid #02b0ef !important;
  margin-left: 20px;
  width: 97%;
}


.header-title-div {
  background-color: #98a7bc;
  //background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 99%;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white !important;
  margin-bottom: -20px;
  margin-top: 10px;
  padding-left: 1px !important;
  margin-left: 3PX !important;
}

.spacerLeft {
  padding-left: 20px !important;
  padding: 1px;
}

.header-title-modal {
  color: #0a3b79;
  font-weight: bold;
  padding-left: 20px !important;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  //color: $azulTelcel;
  padding: 3px;
}