
  mat-form-field {
    margin-right: 12px;
  }

  .mat-flat-button{
   color:   blue  !important;
   background-color:  white  !important;
  }


  body{
    background-color: #632432;
    font-family: Arial;
  }
  
  table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td{
    padding: 5px;
  }
  
  thead{
    background-color: ddd#ffffff !important;
    border-bottom: solid 1px #7a80f3 !important;
    color: white !important;
  }

  
  tr:nth-child(even){
    background-color: #ddd;
  }

  tr:hover td{
    background-color: #f5f7f6;
    color: black;
  }

  .butonVer{
    border: 2px solid transparent;
    color: #43f !important;
    background-color: transparent !important;
  }

  .btnWarning{
    color : white;
    font-weight:bold;
  }

  .spacerLeft{
    padding-left:20px !important;
  }