/* Add application styles & imports to this file! */
@import './assets/scss/telcel-material.scss';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

/* main variables */
@import './assets/scss/colors';
@import './assets/scss/fonts'; 

/* bootstrap utils */
$theme-colors: (
  "primary": $blue,
  "secondary": $darkgrey,
  "success": $success, 
  "danger": $danger,
  "danger-dark": $danger-dark,
  "warning": $warning,
  "warning-light": $warning-light,
  "info": $update,
  "light": $light,
  "dark": $black,
  "medium-gray": $medium-gray,
  "light-gold": $light-gold,
  "dark-gold": $dark-gold,
  "medium": $medium,
  "super-light": $super-light,
  "beige": $beige,
  "travertine": $travertine,
  "lavender": $lavender,
  "teal": $teal
);

/* custom ng-material */
@import './assets/scss/telcel-overrides.scss';

/* custom ng-material */
@import './assets/scss/sweetalert2-telcel-theme.scss';

/* NG Toastr */
@import '/node_modules/ngx-toastr/toastr';

/* icons */
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: $font-family-primary, $font-family-secondary;
  font-size: 14px;
  background-color: #ffffff;
}


/* scroll */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $super-light;
}

*::-webkit-scrollbar-thumb {
  background-color: $medium-gray;
  outline: 1px solid $medium;
}

* {
  scrollbar-color: $medium $super-light;
  scrollbar-width: thin;
}

.filler {
  flex: 1 1 auto;
}

.font-inherit {
  font-size: inherit;
}

.dashboard-dialog-content {
  font-weight: 600;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.multiline-tooltip{
  white-space: pre-line;
}

.border {
  &-1 {
    border-width: 1px !important;
  }

  &-2 {
    border-width: 2px !important;
  }

  &-3 {
    border-width: 3px !important;
  }

  &-4 {
    border-width: 4px !important;
  }

  &-5 {
    border-width: 5px !important;
  }
}

.mat-tooltip-lg {
  font-size: 12px !important;
}

.btn-telcel-warning{
 background-color: #f39c12;
 border-color: #e08e0b;
}

.btn-telcel-confirm {
  background-color: #0071d1;
  border-color: #0071d1;
}