<div class="d-flex flex-column h-100 login-bn">
    <main class="my-5 pt-5">
        <div class="container">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <!-- Add compnay logo -->
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>

<footer class="fixed-bottom text-super-light text-center d-flex flex-column">
    <span>C. 2023 América Movil</span>
    <span>Version: {{ version$ | async }}</span>
</footer>