<div class="d-flex flex-column h-100 login-bn">
    <main class="my-5 pt-5">
        <div class="container">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <!-- Add compnay logo -->
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>
<section>
    <button mat-flat-button class="w-100" aria-label="Navigate to Dashboard" color="accent" matTooltip="Navigate to Dashboard" (click)="navigateToDashboard()">
        Navigate to Dashboard
    </button>
</section>
<footer class="d-flex fixed-bottom text-super-light text-center d-flex flex-column">
    <span>
        C. 2023 America Movil
    </span>
    <span>
        Version: {{ version$ | async }}
    </span>
</footer>